<div class="btn-group dropright">
    <button type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Test command selector
    </button>
    <div class="dropdown-menu">
        <button id="btn-drm-getdata" class="dropdown-item">GetData</button>
        <button id="btn-drm-verfdata" class="dropdown-item">VerfData</button>
        <button id="btn-drm-save" class="dropdown-item">saveData</button>
        <button id="btn-drm-base-param" class="dropdown-item">BaseParam</button>
        <button id="btn-drm-postFile-empty" class="dropdown-item">postFileEmpty</button>

        <button id="btn-drm-data_ajaxAdd" class="dropdown-item">Get_data_ajaxAdd</button>
        <button id="btn-drm-data_ajaxUpd" class="dropdown-item">Get_data_ajaxUpd</button>
        <button id="btn-drm-data_ajaxDel" class="dropdown-item">Get_data_ajaxDel</button>
        
    </div>
</div>