
<h1>Использование Ajax</h1>


<div>
    <input type="text" name="upFile" value="" placeholder="fileName" />
    <button id="btn-put">Обновить файл </button> <br />
    <textarea id="txt-area" rows="3" cols="50" placeholder="Описание задачи"></textarea>
</div>


<div class="data-from-file">

</div>


<button id="btn-ajax">Загрузить файл</button>
<br />
<br />

<button id="btn-create-file">Создать файл</button>
<br /> <br />

<button id="btn-delete-file">Удалить файл</button>


@section Scripts
    {
    <script>
        $(document).ready(function () {

            $('#btn-put').click(function (e) {
                $.ajax('/api/Rest/file/FromJS.txt', {
                    type: 'PUT',
                    success: function (data) {

                        $('.data-from-file').empty().html(data.message);

                    },
                    error: function (jqXHR, status, errorMes) {
                        console.log(errorMes);
                    }
                });
            });


            $('#btn-delete-file').click(function (e) {

                $.ajax('/api/Rest/file/FromJS.txt', {
                    type: 'DELETE',
                    success: function (data) {

                        $('.data-from-file').empty().html(data.message);

                    },
                    error: function (jqXHR, status, errorMes) {
                        console.log(errorMes);
                    }
                });
            });


            $('#btn-create-file').click(function (e) {

                const dataFile = {
                    "FileName": "FromJS.txt",
                    "CommentType": "false",
                    "Data": "Описание задачи для сохранения в файле"
                };

                console.log(dataFile);

                $.ajax('/api/Rest/file', {
                    type: 'POST',
                    dataType: 'json',
                    data: dataFile,
                    success: function (data) {

                        const strData = data.data.replace(/\r\n|\n|\r/g, '<br/>');


                        $('.data-from-file').empty().html(strData);
                    },
                    error: function (jqXHR, status, errorMes) {
                        console.log(errorMes);
                    }
                });
            });


            $('#btn-ajax').click(function (e) {
                $.ajax('/api/Rest/file/CreateTask.txt', {
                    dataType: 'json',
                    success: function (data) {

                        const strData = data.data.replace(/\r\n|\n|\r/g, '<br/>');
                        

                        $('.data-from-file').empty().html(strData);
                    },
                    error: function (jqXHR, status, errorMes) {
                        console.log(errorMes);
                    }
                });
            });

        });
    </script>

}


