

<div class="container">


<h1 class="u-h1Smaller">Тестирование кода javascript</h1>


<div class="form-group form-check">
    <input type="checkbox"
           class="form-check-input" id="checkData">
    <label class="form-check-label"
           for="exampleCheck1">Check me out</label>
</div>

</div>



@section Scripts{
    <script type="module" src="~/testjs/second.script.js"></script>
 }
