@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.44;
  position: relative;
  min-height: 100%;
  max-width: 1200px;
}

:root {
  box-sizing: border-box;
  font-size: calc(1vw + 0.6em);
}

@media (min-width: 800px) {
  :root {
    font-size: 1.125em;
  }
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.wrapper {
  margin-left: 0;
  /*background-color: black;*/
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  max-width: 1200px;
}

.main-content {
  flex: 1 0 auto;
  /*background-color: white;*/
}

.footer {
  flex: 0 0 auto;
  margin-bottom: 0.5em;
}

.footer {
  white-space: nowrap;
  /*background-color: #c2c4c4;*/
  color: white;
  line-height: 1.15em;
  padding: 1rem;
}

a:link {
  color: #1476b8;
  font-weight: bold;
  text-decoration: none;
}
a:visited {
  color: #1430b8;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #b81414;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

h1 {
  font-size: 2.0736em;
}

h2 {
  font-size: 1.728em;
}

h3 {
  font-size: 1.44em;
}

h4 {
  font-size: 1.2em;
}

h5, h6 {
  font-size: 1em;
}

h3, h2 {
  line-height: 1.2;
}

h1 {
  line-height: 1;
}

@media (min-width: 768px) {
  h3 {
    font-size: 1.728em;
  }

  h2 {
    font-size: 2.0736em;
  }

  h1 {
    font-size: 2.48832em;
  }
}
@media (min-width: 992px) {
  h2 {
    font-size: 2.48832em;
  }

  h1 {
    font-size: 2.985984em;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 3.5831808em;
  }
}
.u-h1Smaller {
  font-size: 1.728em;
}

.u-h2Smaller {
  font-size: 1.44em;
}

.u-h3Smaller {
  font-size: 1.2em;
}

.u-h4Smaller {
  font-size: 1em;
}

.u-h5Smaller {
  font-size: 0.8333333333em;
}

.u-h6Smaller {
  font-size: 0.8333333333em;
}

.u-textSmaller {
  font-size: 80%;
}

.u-textBigger {
  font-size: 120%;
}

.u-textExtBigger {
  font-size: 130%;
}

/* Локальные шрифты */
@font-face {
  font-family: "PT Sans Narrow";
  /* Гарнитура шрифта */
  src: url("PT_Sans_Narrow/PTSansNarrow-Regular.ttf");
  /* 400 */
}
@font-face {
  font-family: "PT Sans Narrow Bold";
  src: url("PT_Sans_Narrow/PTSansNarrow-Bold.ttf");
}
/* Подключение шрифта Roboto Condensed */
/* font-family: 'Roboto Condensed', sans-serif; */
@font-face {
  font-family: "Roboto Condensed Light";
  src: url(Roboto_Condensed/RobotoCondensed-Light.ttf);
}
@font-face {
  font-family: "Roboto Condensed Regular";
  src: url(Roboto_Condensed/RobotoCondensed-Regular.ttf);
}
@font-face {
  font-family: "Roboto Condensed Bold";
  src: url(Roboto_Condensed/RobotoCondensed-Bold.ttf);
  /*700 */
}
/* Специальные заголовки в карочках */
.heading_text {
  font-family: "PT Sans Narrow Bold", sans-serif;
  margin-bottom: 0;
}

/* Текст параграфа в карточках */
.paragraph_text {
  font-family: "PT Sans Narrow", sans-serif;
}

.text-dark {
  color: #919da8 !important;
}

.ul-default, .ul-default-fontPT, .ul-circle-fontPT, .ul-check-fontPT {
  padding: 0;
  list-style: none;
  line-height: 1.3;
}

.ul-default-fontPT, .ul-circle-fontPT, .ul-check-fontPT {
  font-family: "PT Sans Narrow", sans-serif;
}

.ul-circle-fontPT, .ul-check-fontPT {
  padding-right: 5px;
}

.ul-circle-fontPT li:before, .ul-check-fontPT li:before {
  padding-right: 5px;
  font-weight: bold;
  color: #666;
  content: "•";
  transition-duration: 0.5s;
}

.ul-check-fontPT li:before {
  content: "✔";
}

.spn_img {
  margin-right: 0.4em;
}

/* убрать маркеры */
ul.ul_compl_data li {
  list-style-type: none;
  /* Убираем маркеры */
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

/*# sourceMappingURL=site.css.map */
